<template>
  <div class="relative inline-block w-full text-gray-700">
    <select
      class="w-full h-10 pl-3 pr-6 text-base border w-24 h-8 dark:bg-gray-900 dark:text-white dark:border-gray-700 rounded-lg appearance-none focus:shadow-outline"
      @change="emitChange($event)"
    >
      <option v-for="option in options" :value="option.value">
        {{ option.label }}
      </option>
    </select>
    <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
      <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd" />
      </svg>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'UiFormSelect',
  props: {
    options: {
      required: true,
      type: Array
    }
  },
  methods: {
    emitChange (event: any): void {
      this.$emit('input', event.target.value)
    }
  }
})
</script>
