<template>
  <a class="flex flex-row items-center my-4" href="#" @click="$emit('click', bubble)">
    <img v-if="bubble.image !== null" :src="bubble.image" class="rounded-2xl mr-2">
    {{ bubble.name }}
  </a>
</template>

<script lang="ts">
import Vue from 'vue'
import { Bubble } from '../../types/bubble.type'

export default Vue.extend({
  name: 'UiBubble',
  props: {
    bubble: {
      required: true,
      type: Object as () => Bubble
    }
  }
})
</script>
