<template>
  <div class="dark:bg-gray-800 dark:text-gray-200 flex flex-auto flex-col">
    <UiNavbar />

    <nuxt />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({

})
</script>
