<template>
  <div>
    <div class="mt-6 mx-6">
      <div class="grid grid-cols-3">
        <div class="col-span-2 w-full">
          <!-- START::BubbleContent -->
          <div v-if="posts.length === 0">
            <p>Default listing currently not implemented.</p>
          </div>
          <div v-if="posts.length > 0">
            <div
              v-for="post in posts"
              :key="post.id"
              class="max-w-screen-md overflow-hidden dark:bg-gray-900 rounded-lg shadow-lg mb-8"
            >
              <img class="object-cover w-full h-48" src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Flower and sky">
              <div class="px-6 py-4">
                <h4 class="mb-3 text-xl font-semibold tracking-tight dark:text-white">
                  {{ post.title }}
                </h4>
                <p class="leading-normal dark:text-white">
                  {{ post.headline }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- END::BubbleContent-->

        <!-- START::MyBubbles -->
        <div class="max-w-sm overflow-hidden shadow-lg mb-4 dark:bg-gray-900 rounded-lg">
          <h2 class="px-2 py-2 font-bold text-xl mb-2 dark:text-white">
            Your bubbles
          </h2>
          <div class="mx-2 my-4">
            <UiBubble
              v-for="bubble in bubbles"
              :key="bubble.id"
              :bubble="bubble"
              @click="fetchBubbleData(bubble)"
            />
          </div>
          <UiFormSelect
            v-model="$colorMode.preference"
            :options="colorModes"
          />
        </div>
        <!-- END::MyBubbles-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Bubble } from '~/types/bubble.type'

export default Vue.extend({
  async asyncData ({ $axios }): Promise<{ bubbles: Array<{ id: number, name: string }> }> {
    const bubbles = await $axios.$get('http://localhost:8080/user/bubbles')
    return { bubbles }
  },
  data () {
    return {
      posts: [],
      bubble: null
    }
  },
  computed: {
    colorModes (): Array<{ label: string, value: string }> {
      return [
        { label: 'System', value: 'system' },
        { label: 'Light', value: 'light' },
        { label: 'Dark', value: 'dark' }
      ]
    }
    // bubbles (): Array<{ title: string }> {
    //   return [
    //     { id: 1, title: 'Tazz by eMAG' },
    //     { id: 2, title: 'Clanu Lejiunii' },
    //     { id: 3, title: 'Faiăr Silviu LIVE' },
    //     { id: 4, title: 'tineretposting' },
    //     { id: 5, title: 'BoJack Horseman Sadposting' },
    //     { id: 6, title: 'Eximperituserqethhzebibšiptugakkathšulweliarzaxułum' }
    //   ]
    // }
  },
  methods: {
    async fetchBubbleData (bubble: Bubble): void {
      this.posts = []
      this.bubble = bubble

      this.posts = await this.$axios.$get(`http://localhost:8080/bubble/${bubble.id}/posts`)
    }
  }
})
</script>

<style lang="postcss" scoped>
.badge {
  @apply inline-block bg-gray-200 dark:bg-gray-700  rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-200;
  &:hover {
   @apply bg-gray-300;
 }
}
</style>
