<template>
  <nav class="flex justify-between p-4 shadow-lg dark:bg-gray-900">
    <div class="flex flex-row">
      <a href="#" class="flex flex-row">
        <img class="rounded-2xl" src="https://placehold.it/128x32?text=Bubbles" alt="Bubbles Logo">
      </a>
    </div>
    <div class="flex flex-row">
      <div class="pr-5 flex flex-row items-center cursor-pointer">
        <img class="rounded-2xl" src="https://placehold.it/32x32" alt="User logo">
        <p class="pl-2">
          Petru
        </p>
      </div>
      <div class="pr-5 cursor-pointer">
        <img class="rounded-2xl" src="https://placehold.it/32x32" alt="icon">
      </div>
      <div class="pr-5 cursor-pointer">
        <img class="rounded-2xl" src="https://placehold.it/32x32" alt="icon">
      </div>
      <div class="pr-5 cursor-pointer">
        <img class="rounded-2xl" src="https://placehold.it/32x32" alt="icon">
      </div>
      <div class="pr-5 cursor-pointer">
        <img class="rounded-2xl" src="https://placehold.it/32x32" alt="icon">
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'UiNavbar'
})
</script>
